<% content_for :title, "Editing transmission" %>

<h1>Editing transmission</h1>

<%= render "form", transmission: @transmission %>

<br>

<div>
  <%= link_to "Show this transmission", @transmission %> |
  <%= link_to "Back to transmissions", transmissions_path %>
</div>
