<p style="color: green"><%= notice %></p>

<% content_for :title, "Vehicle images" %>

<h1>Vehicle images</h1>

<div id="vehicle_images">
  <% @vehicle_images.each do |vehicle_image| %>
    <%= render vehicle_image %>
    <p>
      <%= link_to "Show this vehicle image", vehicle_image %>
    </p>
  <% end %>
</div>

<%= link_to "New vehicle image", new_vehicle_image_path %>
