<% content_for :title, "New vehicle image" %>

<h1>New vehicle image</h1>

<%= render "form", vehicle_image: @vehicle_image %>

<br>

<div>
  <%= link_to "Back to vehicle images", vehicle_images_path %>
</div>
